<!DOCTYPE html>
<html>
<head>
    <title>Energy Prices</title>
</head>
<body>
    <h1>Energy Prices</h1>
    <form action="/prices" method="POST">
        <p>Select timeframe:</p>
        <select name="timeframe">
            <option value="6">Next 6 timer</option>
            <option value="12">Next 12 hours</option>
            <option value="24">Next 24 hours</option>
        </select>
        <p>Select area:</p>
        <select name="area_selection">
            <option value="1">WestDenmark (DK1)</option>
            <option value="2">EastDenmark (DK2)</option>
        </select>
        <br><br>
        <input type="submit" value="Get Prices">
    </form>
</body>
</html>
